.vs/
*.sln
/.idea
/.idea

Binaries/
Intermediate/

/Build
/Saved
/DerivedDataCache
/Saved/Logs
/Saved/Crashes
/Script
/Plugins/*/Binaries
/Plugins/*/Intermediate

/SmartCity.sln.DotSettings.user
/SmartCity.uproject.DotSettings.user
/SmartCity.uproject.DotSettings.user

/Content/BossyEnemy
/Content/CloseCombatAnimSet
/Content/Collections
/Content/CraftResourcesIcons
/Content/Developers
/Content/EasyBuildingSystem
/Content/Poplar_Forest
/Content/ProIconPack
/Content/Space_Creator_Pro
/Content/StarterContent
/Content/UltimateHorsePack
/Content/ArcherAnimsetPro
/Content/VoxelExamples
/Content/VoxelizedMeshes
/Content/Finisher_Animations
/Content/Effects
/Content/PhysicsMaterials
/Content/Maps/TestMaps
/SmartCity.uproject.DotSettings
/SmartCity.uproject.DotSettings.user
/Content/Materils/材质
/Content/Materils/材质
/Content/Materils/地砖石材毛石
/Content/Materils/金属
/Content/Materils/木纹
/Content/Materils/皮革
/Content/Materils/纱窗
/Content/Materils/涂料
/Content/Materils/自发光
